extends ../components/layout

block content
	.container
	.row
		.col-md-1
		.col-md-10
			h2 Admin Dashboard
	
			table(class='table')
				tr
					th No
					th Name
					th Code
					th Price
					th Currency
					th Status
					th Action
				- each item, i in items
					tr
						td
							span #{i+1}
						td
							span
								a(href='/dashboard-admin/#{item._id}') #{item.name}
						td
							span #{item.code}
						td
							span #{item.price} 
						td
							span #{item.currency}
						td
							span
								a(href='javascript:void(0)', class='changeStatusBtn', id='#{item._id}', rel='#{item.status}') #{item.status}
						td
							a(class='removeBtn aTagCursor', id='#{item._id}') remove

	.row(style='margin-bottom: 50px;')
		.col-md-1
		.col-md-10
			a(href='/dashboard-admin/add', class='btn btn-default') Add More

	script(type='text/javascript').
		$(document).ready(function () {
			// change status
			$('.changeStatusBtn').on('click', function () {
				var id = this.id,
						status = this.rel;
				
				console.log(id);
			});

			// delete
			$('.removeBtn').on('click', function () {
				var id = this.id;

				$.ajax({
					url: '/api/products/' + id,
					method: 'delete'
				}).done(function (result) {
					console.log(result);

					location.reload();
				})
			});
		});