extends components/layout

block content
	doctype html(lang='en')
	head
		meta(charset='utf-8')  
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
	body
		.container.middle-section
			.row
				.col-md-1
				.col-md-10.index-slider.thumbnail
					div(id='carousel-example-generic' class='carousel slide text-center' data-ride='carousel')
						ol(class='carousel-indicators')
							li(data-target='#carousel-example-generic' data-slide-to='0' class='active')
							li(data-target='#carousel-example-generic' data-slide-to='1')
							li(data-target='#carousel-example-generic' data-slide-to='2')
							li(data-target='#carousel-example-generic' data-slide-to='3')
							li(data-target='#carousel-example-generic' data-slide-to='4')
						.carousel-inner(role='listbox')
							.item.active
								img(src='/images/slider-1.jpg')
							.item
								img(src='/images/slider-2.jpg')
							.item
								img(src='/images/slider-3.jpg')
							.item
								img(src='/images/slider-4.jpg')
							.item
								img(src='/images/slider-5.jpg')

		section#features
			.container
				.section-header
					h2.section-title.text-center.wow.fadeInDown SẢN PHẨM ĐANG HOT
					p.text-center.wow.fadeInDown
				.row
					.features
						- each item, i in items
							.col-md-3.item-block.hvr-grow
								a(href='/products/#{item._id}')
									div(class='product-item-img')
										if (item.imageURL)
											img(class='img-responsive', src='#{item.imageURL}')
										else
											img(class='img-responsive', src='/images/default_product_image_400.jpg')
									p(class='product-item-name') #{item.name}
									p(class='product-item-price') #{item.price} #{item.currency}