extends components/layout

block content
	.container.middle-section
		.row
			.col-md-1
			.col-md-10.index-slider
				div(id='carousel-example-generic' class='carousel slide text-center' data-ride='carousel')
					ol(class='carousel-indicators')
						li(data-target='#carousel-example-generic' data-slide-to='0' class='active')
						li(data-target='#carousel-example-generic' data-slide-to='1')
						li(data-target='#carousel-example-generic' data-slide-to='2')
					.carousel-inner(role='listbox')
						.item.active
							img(src='http://cdn.shopify.com/s/files/1/0765/9165/t/2/assets/slide_2.jpg?14824530909511496293')
							.carousel-caption
								p picture 1
						.item
							img(src='http://cdn.shopify.com/s/files/1/0765/9165/t/2/assets/slide_2.jpg?14824530909511496293')
							.carousel-caption
								p picture 2
						.item
							img(src='http://cdn.shopify.com/s/files/1/0765/9165/t/2/assets/slide_2.jpg?14824530909511496293')
							.carousel-caption
								p picture 3

	.container.middle-section
		.row
			.col-md-1
			.col-md-8
				h3 SHOP
			.col-md-3
			.col-md-12.text-center
				h4.magin-bottom-100 Sản phẩm đang hot
			.col-md-12
				.col-md-1
				.col-md-9
					- each item, i in items
						.col-md-3.item-block.hvr-grow
							a(href='/products/#{item._id}')
								div(class='product-item-img')
									img(class='img-responsive' src='#{item.imageURL}')
								p(class='product-item-name') #{item.name}
								p(class='product-item-price') #{item.price} #{item.currency}