//- h1 Home of product

extends ../components/layout

block content
	.container.middle-section
		.row
			.col-md-3
				ul(class='nav nav-pills nav-stacked')
					- var menu = {'all': 'Toàn bộ', 'laptop': 'Laptop', 'desktop': 'Máy bàn', 'other': 'Phụ kiện'};
					each val, key in menu
						if (!productType && key == 'all')
							li(class='active')
								a(href='/products?type=#{key}') #{val}
						else if (productType == key)
							li(class='active')
								a(href='/products?type=#{key}') #{val}
						else
							li
								a(href='/products?type=#{key}') #{val}


			.col-md-9
				- each item, i in items
					.col-md-4.item-block.hvr-grow
						a(href='/products/#{item._id}')
							div(class='product-item-img')
								img(class='img-responsive' src='#{item.imageURL}')
							p(class='product-item-name') #{item.name}
							p(class='product-item-price') #{item.price} #{item.currency}